[Desktop Entry]
Version=1.0
Name=WND Files
Exec=dbus-run-session -- bash -c 'HOME=/home/mtnstar/.wnd nautilus --no-desktop --new-window'
Terminal=false
Icon=org.gnome.Nautilus
Type=Application
MimeType=inode/directory;application/x-7z-compressed;application/x-7z-compressed-tar;application/x-bzip;application/x-bzip-compressed-tar;application/x-compress;application/x-compressed-tar;application/x-cpio;application/x-gzip;application/x-lha;application/x-lzip;application/x-lzip-compressed-tar;application/x-lzma;application/x-lzma-compressed-tar;application/x-tar;application/x-tarz;application/x-xar;application/x-xz;application/x-xz-compressed-tar;application/zip;application/gzip;application/bzip2;application/x-bzip2-compressed-tar;application/vnd.rar;application/zstd;application/x-zstd-compressed-tar
StartupNotify=true
